<% include partials/header %>
<div class="container mt-5 text-center">
  <h2 class="display-4 pt-2">Contact</h2>
  <hr class="w-50">
</div>


<h2 class="md-display-4 mt-5 mb-5 text-center">  ducss@csc.tcd.ie</h2>
<h2 class="md-display-4 mt-5 mb-5 text-center"><a href="https://www.facebook.com/ducss.ie/">facebook.com/ducss.ie/</a></h2>
<h2 class="md-display-4 mt-5 mb-5 text-center"><a href="https://www.instagram.com/ducss_/?hl=en">instagram.com/ducss_</a></h2>
<h2 class="md-display-4 mt-5 mb-5 text-center"><a href="https://twitter.com/ducss">twitter.com/ducss</a></h2>



<% include partials/footer %>
