<% include partials/header %>
<div class="container mt-5 text-center">
  <hr class="w-50">
  <h2 class="display-4">Upcoming Events</h2>
  <hr class="w-50">

  <hr class="w-50">
  <h2 class="display-4">Previous Events</h2>
  <hr class="w-50">

</div>
<% include partials/footer %>
