<% include partials/header50 %>

<header class="text-center text-white" id="cont">
    <img class="img-fluid d-none d-sm-block" src="images/future50_inspiring2.jpg" alt="">
    <img class="img-fluid d-block d-sm-none" src="images/vertical50_inspiring2.jpg" alt="">
</header>
    

    <div class="row justify-content-center pb-5" id="mainparagraph">
        <div class="p-5 col-lg-6 text-center mb-2">
            <h3 class="mb-4">Future 50</h3>
            <p>At the Future 50 event the innovators of today will give their perspective on the future of technology industry to the people who will build that future, that is, today's students and those working in technology.</p>
            <p>Future 50 is organized by Trinity College Dublin students and staff who are celebrating the 50th anniversary of the computing in TCD.  The event is open to the public but tickets are limited so booking is strongly advised.</p>
            <h5 class="h5 p-3"><a href="https://www.eventbrite.ie/e/future-50-tickets-93411940629">Book a Ticket</a></h5>
            <p class="pb-3">The event will run from 2pm-6pm on Friday the 6th of March in the Dargan Theatre in the Trinity Business School on Pearse St. The event will be followed by a reception.</p>
            <hr>
            <p class="display-5 pt-3">The event is free but attendees are asked to consider making a donation to the John. G Byrne Scholarship fund which supports students from under-represented groups to follow a career in technology.</p>
            <h5 class="mt-3 h5"><a href="https://alumni.scss.tcd.ie/">Support the John G. Byrne Scholarship Fund</a></h5>
        </div>
    </div>


<section>
    <div class="container my-3">
        <div class="row align-items-center py-5">
            <div class="col-lg-6 order-lg-2">
                <div>
                    <img class="img-fluid rounded-circle" src="images/trish.jpg" alt="">
                    <!-- 8:9 -->
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Dr. Patricia Scanlon</h2>
                    <p>Patricia Scanlon is the founder and CEO of SoapBox Labs, the award 
                        winning voice tech for kids company. Patricia holds a PhD and has 
                        over 20 years experience working in speech recognition 
                        technology, including at Bell Labs and IBM. Patricia has been 
                        granted 3 patents, with two pending. She is an acclaimed TEDx 
                        speaker, and in 2018 was named one of Forbes "Top 50 Women in Tech" 
                        globally.</p>
                    <p> In 2013, inspired by the needs of her oldest child, Patricia envisioned 
                        a speech technology to redefine how children acquire literacy. She has 
                        successfully raised multiple rounds of both public and private funding 
                        to bolster research and product development, and her technical approach 
                        has been independently validated by the world's top three academic 
                        authorities on speech recognition. SoapBox Labs is based in Dublin and 
                        has a world class team of 23 employees.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container my-3">
        <div class="row align-items-center py-5">
            <div class="col-lg-6">
                <div>
                    <img class="img-fluid rounded-circle" src="images/bobby.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Bobby Healy</h2>
                    <p>Bobby Healy is an experienced inventor and technology entrepreneur, 
                        having started his career building computer games for Nintendo at 16 years of age. 
                        He initially built and sold Eland Technologies to travel industry titan ‘SITA.AERO’ in 2003, 
                        before recently leading CarTrawler – the World’s largest B2B mobility marketplace for the airline 
                        industry – which now has unicorn status. Healy led it through several private equity LBOs and continues 
                        to serve on their board.</p>
                        <p>
                        Healy is now CEO and Founder of Manna which he founded in 2018. Manna is the world’s first aviation-grade B2B drone food delivery ‘as-a-service’ company. Bobby continues to be an
                        avid computer programmer and is a frequent speaker on the international circuit on subjects related to technology in the airline industry, ancillary revenue and online distribution.
                        </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container my-3">
        <div class="row align-items-center py-5">
            <div class="col-lg-6 order-lg-2">
                <div>
                    <img id = "nic" class="img-fluid rounded-circle" src="images/nicoleHighRes.jpg" alt="">
                    <!-- 8:9 -->
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Nicole Baker</h2>
                    <p>Nicole Baker is a co-founder of biologit, which uses Artificial Intelligence to tackle the cost 
                        and complexity of Pharmacovigilance & Clinical Safety.​ Nicole Baker is an experienced 
                        life sciences professional with broad knowledge in global legislation and guidelines for 
                        Medical Affairs, Regulatory Affairs, Pharmacovigilance and Clinical Trials, gained by leading 
                        and managing global, multi-disciplinary teams.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container my-3">
        <div class="row align-items-center py-5">
            <div class="col-lg-6">
                <div>
                    <img class="img-fluid rounded-circle" src="images/ross.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Ross Hunt</h2>
                    <p>
                        Ross Hunt is the co-founder of Cainthus, a computer vision company dedicated to bringing low-cost, high-frequency measurement to agriculture. Ross has spent most of his career in agriculture, growing up in a small village in Galway before working in the family business where he developed a computer-system to digitise and automate the company’s back-end functions in order to improve efficiency, performance measurement and decision making. This saw revenues and physical product handled double in two and a half years without any additional employees.
                    </p>
                    <p>
                        In mid-2014, Ross and his brother David left the family business and co-founded Cainthus with Robin Johnston from Canada. Cainthus uses computer vision and artificial intelligence to observe nutritional, behavioural, health and environmental activities of animals that can impact production. They translate this visual information into actionable insights that enable the farmer to make data-driven decisions to improve farm operations and animal health.  
                        Ross also currently writes a column on innovation for The Currency, sat on the Exponential Advisory Board of Singularity University for 3 years and has worked with many forward-looking organisations including ARPA-e, Otherlab and the EU Commision.  </p>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row justify-content-center m-0 p-0">
            <div class="col-lg-6 text-center m-0 p-0">
                <hr class="w-75 pb-3">
        <p>The agenda for the event is as follows: <br>
            2:00pm Opening – Prof Linda Doyle <br>
            2:10pm Patricia Scanlon <br>
            2:45pm Bobby Healy <br>
            Break for free food and coffe / tea <br>
            4:00pm Nicole Baker <br>
            4:40pm Ross Hunt</p> 
            <p>After the talks there will be a panel session with Brian Caulfield, Annrai O’Toole, Aine Denn and Sean Mitchel, who have all started up multiple companies. <br> The focus of the panel will be on how to scale a tech business in Ireland.
            <br> There will be a wine reception from 6pm-7:30pm
            </p>

        </div>
        </div>
    </div>

<div class="continer">
    <div class="row justify-content-center m-0 p-0">
        <div class="col-lg-6 text-center m-0 p-0">
            <hr class =w-50>
            <h3 class="p-5">Request a question to be asked to a speaker on the panel!</h3>
            <h3>Send an email with your question to <a href="mailto:ducss@csc.tcd.ie?subject=Question for Speaker - Future 50">ducss@csc.tcd.ie</a></h3>
        </div>
    </div>
</div>

<div class="continer">
    <div class="row justify-content-center m-0 p-0">
        <div class="col-lg-6 text-center m-0 p-0">
            <hr class =w-50>
            <h5>For sponsorship information please contact:</h5>
            <h5><a href="mailto:gerard.lacey@scss.tcd.ie">gerard.lacey@scss.tcd.ie</a></h5>
        </div>
    </div>
</div>


<!-- 
<section>
    <div class="container my-3">
        <div class="row align-items-center py-5">
            <div class="col-lg-6 order-lg-2">
                <div>
                    <img class="img-fluid rounded-circle" src="images/samp.jpeg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">Name Surname</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit
                        iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                        voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <div class="container my-3">
        <div class="row align-items-center py-5">
            <div class="col-lg-6">
                <div>
                    <img class="img-fluid rounded-circle" src="images/samp.jpeg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">Name Surname</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit
                        iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione
                        voluptatum molestiae adipisci, beatae obcaecati.</p>
                </div>
            </div>
        </div>
    </div>
</section> -->
<script src="scripts/burgerExpandPageMove.js"></script>
<% include partials/footer %>