<% include partials/header %>

<div id="cont" class="container text-center mt-4">
<p class="h7"> Hoodie order requests will close on the 20th December.</p>
    
    <div class="container row mt-5"> 
        <div class="col-md-6">
            <img src="images/ho.jpg" class="card-img" alt="">
        </div>
    
        <div class="col-md-6 mt-4">
            <h5>hoodie_1</h5>
            <div class="row align-items-bottom">
                <p class="card-text description col-11 col-md-9">€20</p>
                <form class="mt-5"> 

                    <div class="form-group">
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="TCD Email">
                      <small id="emailHelp" class="form-text text-muted">You will be sent a verifcation email and then a reservation ID.</small>
                    </div>

                    <button type="submit" class="btn btn-primary">Request</button>

                </form>
            </div>
         </div>
    
    </div>
    

</div>
<script src="scripts/burgerExpandPageMove.js"></script>

<% include partials/footer %>