/* gainsboro */
/* #584b406c */
/* azure */
/* #ff8e28d4 */
body {
  background: #ff8e28d4;
  font-family: "Nunito", sans-serif;

}

.opaque-bg{
  background: rgba(0, 0, 0, 0.7);
}


.carousel-item {
  overflow: hidden;
  width: 100%;
}
.carousel-item img {
  width: 100%;
  height: auto;
}

/* #442815f1 */
/* Colour of navbar text. */
.navbar-dark .navbar-nav .nav-link{
    color: #212529;
    font-weight: 700;
}

/* Color of brand text("DUCSS") */
.navbar-dark .navbar-brand{
    color: #212529;
}

.navbar-toggler:focus{
  outline: none;
}


 /* Navbar text hover */
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: black;
}

/* Navbar brand hover */
.navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover{
    color: black;
}

/* logo */
.img-fluid {
    max-width: 90;
    height: auto;
}

.btn-primary{
    color: #212529;
    background: #584b406c;
    border-color: transparent;
}

.btn-primary:hover{
    color: black;
    background: #eb862e;
    border-color: transparent;
}


/* Burger border */
.navbar-dark .navbar-toggler{
    border: 2px solid;
    border-color: transparent;
}
/* Burger icon colour(change rgba value in the link) */
.navbar-dark .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(68, 40, 21, 0.945)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}



.jumbotron{
    color: #212529;
    background-color: #584b406c;
}
.jumbotronCol{
  color: #584b401a;
  transition: color 400ms
}


.navbar.scrolled{
    background: #3edcf2;
    transition: background 500ms;
}

.navbar.hamburger{
    background: #3edcf2;
    transition: background 500ms;
}

.card-body{
  background-color: none;
}
.internship-card{
  background-color: #ff8e28d4;
}

small{
  color: #404e63;
}

a{
  color: #212529;
}

a:focus{
  outline: none;
}

a:hover{
  color: #212529;
}

.movedown{
  margin-top: 200px !important;
  transition: margin-top 400ms;
}
