<% content_for :javascript_includes do %>
  <%= javascript_include_tag "home.js" %>
<% end %>
<div id="landing-page" class="landing-container">
  <div class="text">
    <div>
      <div class="logo-text">&lt;ducss/&gt;</div>
      <div class="landing-nav">
        <%= link_to "Events" , all_events_path %>
        <a onclick="document.getElementById('contact-button').click()">Contact</a>
      </div>
    </div>
  </div>
  <div class="particles" id="particles-js"></div>
</div>

<div class="row home-content content-container">
  <% if @highlighted_event %>
    <div class="small-12 columns main-event">
      <%= render 'layouts/event_card', event: @highlighted_event %>
    </div>
  <% end %>
  <div class="small-12 columns services-header">Our Services</div>
  <hr>
  <% @services.each do | service | %>
    <div class="small-12 medium-4 columns section">
      <%= render 'service_card', service: service %>
    </div>
  <% end %>
</div>
