<% content_for :javascript_includes do %>
  <%= javascript_include_tag "home.js" %>
<% end %>
<div id="landing-page" class="landing-container">
  <div class="text">
    <div>
      <div class="logo-text">&lt;ducss/&gt;</div>
      <div class="landing-nav">
        <%= link_to "Events" , upcoming_events_path %>
        <a onclick="document.getElementById('contact-button').click()">Contact</a>
      </div>
    </div>
  </div>
  <div class="particles" id="particles-js"></div>
</div>

<div class="row home-content content-container">
  <div class="small-12 columns main-event">
    <div class="card">
      <img src="http://ducss.ie/system/events/thumbnails/000/000/002/normal/learn-to-code-banner.jpg?1443999317" />
      <div class="content">
        <h3>Main Event</h3>
        Main event description
      </div>
    </div>
  </div>
  <div class="small-12 medium-4 columns section">
    <div class="card">
      <img src="http://ducss.ie/system/events/thumbnails/000/000/001/normal/xbone-1.png?1443999208" />
      <div class="content">
        <h3>Room</h3>
        We have a room.
      </div>
    </div>
  </div>
  <div class="small-12 medium-4 columns section">
    <div class="card">
      <img src="http://ducss.ie/system/events/thumbnails/000/000/002/normal/learn-to-code-banner.jpg?1443999317" />
      <div class="content">
        <h3>Classes</h3>
        We teach you things.
      </div>
    </div>
  </div>
  <div class="small-12 medium-4 columns section">
    <div class="card">
      <img src="http://ducss.ie/system/events/thumbnails/000/000/001/normal/xbone-1.png?1443999208" />
      <div class="content">
        <h3>Events</h3>
        We do events.
      </div>
    </div>
  </div>
</div>
