<script>
  var d = document.getElementById("home-nav");
  d.className = d.className + " current";

</script>

<% if !@landingPage %>
  <% content_for :javascript_includes do %>
    <%= javascript_include_tag "home.js" %>
  <% end %>
  <div class="landing-page">
    <div class="title">
      <p>&lt;ducss/&gt;</p>
      <ul>
        <li><a href="#" class="home-landing">home</a></li>
        <li><%= link_to "Events" , all_events_path %></li>
        <li><a onclick="document.getElementById('contact-button').click()">Contact</a></li>
      </ul>
    </div>
    <div class="background">
    </div>
    <div class="background-right-fix">
    </div>
  </div>
<% else %>
  <script>
    $("#header").css("display", "inline");
  </script>
<% end %>

<div class="row home-content content-container">
  <% if @highlighted_event %>
    <div class="small-12 columns services-header">Our Next Event</div>
    <hr>
    <div class="small-12 columns main-event">
      <%= render 'layouts/event_card', event: @highlighted_event, description_length: 20 %>
    </div>
  <% end %>
  <div class="small-12 columns services-header">Our Services</div>
  <hr>
  <% @services.each do |service| %>
    <div class="small-12 medium-4 columns section">
      <%= render 'service_card', service: service %>
    </div>
  <% end %>
</div>
