<div class="responsive-calendar">
  <div class="controls">
    <div class="row">
      <div class="small-3 left columns button-container">
        <a class="left" data-go="prev"><div class="button cal-button">&lt;</div></a>
      </div>
      <div class="small-6 columns calendar-date">
        <h4><span data-head-year></span> <span data-head-month></span></h4>
      </div>
      <div class="small-3 right columns button-container">
        <a class="right" data-go="next"><div class="button cal-button">&gt;</div></a>
      </div>
    </div>
  </div>
  <div class="day-headers">
    <div class="day header">Mon</div>
    <div class="day header">Tue</div>
    <div class="day header">Wed</div>
    <div class="day header">Thu</div>
    <div class="day header">Fri</div>
    <div class="day header">Sat</div>
    <div class="day header">Sun</div>
  </div>
  <div class="days" data-group="days"></div>
</div>
