<% provide :title, @event.title %>
<% provide :description, @event.description %>
<script>
  var d = document.getElementById("event-nav");
  d.className = d.className + " current";
  $("#header").css("display", "inline");
</script>
<div class="row content-container">
  <div class="small-12 columns main-event">
    <%= render 'layouts/event_card', event: @event, description_length: 0 %>
  </div>
</div>
