<% provide :title, @event.title %>
<% provide :description, @event.description %>
<div class="row content-container">
  <div class="small-12 columns main-event">
    <%= render 'layouts/event_card', event: @event %>
  </div>
</div>
