$font-stack: 'Droid Sans', sans-serif;
$header-border-color: #c6c6c6;
$text-color: #808080;
$ducss-orange: #ff9f2e;
$light-orange: lighten($ducss-orange, 10%);
$link-color: #808080;
$input-border-color: #c6c6c6;
$input-font-color: #2d2d2d;
