/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "variables";
@import "foundation_and_overrides";
@import 'normalize';
@import 'landing';
@import 'header';
@import 'home';
@import 'footer';
@import 'contact-modal';

.width-constraint {
  width: 100%;
  max-width: 1024px;
  height: 100%;
  margin: auto;
}

.content-container {
  padding-top: $header-height * 1.5;
}

.fade-out {
  -webkit-transition: opacity 4s !important;
  transition: opacity 4s !important;
  opacity: 0;
}

.card {
  background-color: white;
  box-shadow: 0 12px 15px 0 $card-dropshadow-color;
  border-radius: 2px;
  img {
    box-shadow: 0 0 12px -1px $drop-shadow-color;
    margin: 2%;
    width: 96%;
  }
  .content {
    padding: 10px;
    h3 {
      border-bottom: 1px;
      border-bottom-style: solid;
      border-bottom-color: $ducss-orange;
    }
    .meta {
      margin-bottom: 5px;
    }
  }
}

.section {
  margin-bottom: 10px;
}
.main-event {
  margin-bottom: 20px;
  img {
    width: 100%;
  }
}

@media screen and(max-width: $small-breakpoint) {
  .card {
    padding-top: 10px;
    img {
      width: initial;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

