.reveal-modal {
  outline: none;
  position: fixed;
  top: 10vh !important;
  border-radius: 2px !important;
  border-color: #666 !important;
  padding: 30px !important;
  padding-bottom: 16px !important;
  .modal {
    .message-text {
      min-height: 30vh;
    }
    input[type=submit] {
      background-color: white;
      border: none;

      letter-spacing: 4px;
      font-size: 1.1rem;
      color: #333;
      font-weight: 500;
      text-transform: uppercase;
      cursor: pointer;
      margin-left: 2px;
      -webkit-transition: letter-spacing .2s ease-in, margin-left .2s ease-in;
      -moz-transition: letter-spacing .2s ease-in, margin-left .2s ease-in;
      -ms-transition: letter-spacing .2s ease-in, margin-left .2s ease-in;
      -o-transition: letter-spacing .2s ease-in, margin-left .2s ease-in;
      transition: letter-spacing .2s ease-in, margin-left .2s ease-in;
    }
    input[type=submit]:hover {
      letter-spacing: 5px;
      margin-left: 0px;
    }

    input[type=text], input[type=email], textarea {
      border: 1px;
      border-radius: 2px;
      border-style: solid;
      box-shadow: none;
      border-color: $ducss-orange;
      &:focus, &:-webkit-autofill {
        -webkit-box-shadow:0 0 50px 50px white inset;
      }
    }
    label {
      visibility: hidden;
    }
    .success-message, .failure-message {
      display: none;
      text-align: center;
    }
    .close-reveal-modal {
      margin-top: -8px;
      margin-right: -6px;
    }
  }
}

.reveal-modal-bg {
  position: fixed;
}

@media screen and(max-width: $small-breakpoint) {
  .reveal-modal {
    min-height: 0px;
  }
}
