.reveal-modal {
  outline: none;
  position: fixed;
  top: 10vh !important;
  .modal {
    .message-text {
      min-height: 30vh;
    }
    input, textarea {
      border-radius: 2px;
    }
    input[type=submit] {
      background-color: white;
      border: none;
      font-size: 1.3rem;
    }
    input[type=text], input[type=email], textarea {
      border: none;
      border-bottom: 1px solid $input-border-color;
      box-shadow: none;
      &:focus, &:-webkit-autofill {
        -webkit-box-shadow:0 0 0 50px white inset;
      }
    }
    label {
      visibility: hidden;
    }
    .success-message, .failure-message {
      display: none;
      text-align: center;
    }
  }
}

@media screen and(max-width: $small-breakpoint) {
  .reveal-modal {
    min-height: 0px;
  }
}
