footer {
  text-align: center;

  ul {
    margin-top: 10px;
    margin-bottom: 10px;
    list-style: none;
    width: 180px;
    display: inline-block;
    margin-left: 0px;

    .fb-icon {
      float: right;
     }

    .twitter-icon {
      float: left;
    }

    img {
      width: 60px;
      opacity: .8;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 1;
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -o-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
      }
    }
  }
}
