.header {
  width: 100%;
  min-height: $header-height;
  position: fixed;
  top: 0;
  box-shadow: 1px 1px 10px -1px $drop-shadow-color;
  z-index: 1;
  background-color: $background-color;

  .nav-logo {
    height: 100%;
    width: auto;
    float: left;
    margin-left: 10px;
    img {
      height: 50px;
      width: auto;
      margin-top: 7.5px;
    }
  }

  .nav-link-container {
    float: right;
    height: 100%;
    margin-right: 10px;
    hr {
      display: none;
    }
    a {
      margin-left: 10px;
      line-height: $header-height;
      font-size: 1.5rem;
    }
  }

  .hamburger {
    display: none;
  }
}

.flash {
  position: fixed;
  top: $header-height * 1.5;
  margin: 0;
}

@media screen and(max-width: $small-breakpoint) {
  .nav-link-container {
    float: none;
    width: 100%;
    text-align: center;
    margin-right: 0 !important;
    display: none;
    hr {
      display: block !important;
      height: 1px;
      width: 100%;
      border: none;
      background-image: -webkit-linear-gradient(0deg, $hr-transparent-color, $hr-color, $hr-transparent-color);
    }
    a {
      margin: 0;
      margin-bottom: 5px;
      font-size: 1.2em !important;
    }
  }

  .hamburger {
    height: $header-height;
    display: block !important;
    float: right;
    margin-right: 10px;
    img {
      height: $header-height / 2;
      margin-top: $header-height / 4;
    }
  }

}

@media screen and(min-width: $small-breakpoint + 1) {
  .nav-link-container {
    display: block !important;
  }
}
