.home-content {
  .section {
    margin-bottom: 10px;
  }
  .main-event {
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
  .card {
    background-color: white;
    box-shadow: 0 12px 15px 0 $card-dropshadow-color;
    border-radius: 2px;
    img {
      box-shadow: 1px 1px 10px -1px $drop-shadow-color;
    }
    .content {
      padding: 10px;
      h3 {
      }
    }
  }

}
