.showcase-page {
  .logo {
    h2 {
      text-align: center;
      font-family: FairviewRegular;
      font-size: 100px;
      letter-spacing: 2px;

      .orange-text {
        color: $ducss-orange;
      }
    }

    h3 {
      text-align: center;
      font-family: LasVegasFabulous;
      font-size: 60px;
      margin-top: -40px;
    }
  }

  .info {
    width: 80%;
    margin: 0 auto;
    .blurb {
      text-align: center;
    }
    .slack {
      text-align: center;
      img {
        width: 45px;
        margin-right: 8px;
      }
      .orange-text {
        color: $ducss-orange;
      }
    }
  }

  .accordion {
    width: 90%;
    margin: 0 auto;

    .showcase {
      background-color: white;
      box-shadow: 0 12px 15px 0 $card-dropshadow-color;
      border-radius: 2px;
      margin-bottom: 30px !important;

      .showcase-header {
        background: $background-color;
        letter-spacing: 2px;
        font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
        text-align: center;
        border: 1px solid $ducss-orange;
      }

      .content {
        border: 1px solid #999;
        border-top: none;
        padding-top: 30px;
        padding-bottom: 30px;
      }

      .showcase-item {
        display: flex;
        width: 99%;
        margin-bottom: 20px;

        .image {
          width: 18%;
          margin: auto;
          min-width: 130px;

          img {
            vertical-align: middle;
            width: 100%;
            border-radius: 100%;
          }
        }

        .item-content {
          width: 78%;
          height: 80%;
          margin-top: 10px;

          h3 {
            border-bottom: 1px;
            border-bottom-style: solid;
            border-bottom-color: $ducss-orange;
            font-size: 30px;
            letter-spacing: 3px;
            width: 95%;
          }

          .meta {
            display: inline-block;
            .owner {
              float: left;
              margin-bottom: 0px;
              margin-top: -5px;
              font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
              text-transform: uppercase;
              letter-spacing: 3px;
              font-size: 14px;
            }
            a {
              text-transform: none;
              letter-spacing: 1px;
              font-size: 13px;
            }

            a:hover {
              color: $ducss-orange !important;
            }
          }

          .text {
            margin-top: -5px;
            font-size: 15px;
            text-align: justify
          }
        }
      }

      .left-item {
        .image {
          float: left;
          margin-right: 20px;
        }

        .item-content {
          float: right;

          .text {
            margin-right: 5%;
          }
        }
      }

      .right-item {
        .image {
          float: right;
          margin-left: 20px;
        }

        .item-content {
          float: left;
          h3 {
            text-align: right;
            float: right;
          }

          .meta {
            width: 100%;
            .owner {
              text-align: right;
              float: right;
              a {
                margin-right: 10px;
                margin-top: 2px;
                float: left;
              }
            }
          }

          .text {
            margin-left: 5%;
            margin-right: 4px;
            float: right;
          }
        }
      }
    }
  }
}

@media screen and(max-width: $small-breakpoint) {
  .showcase-page {
    .info {
      width: 90%;
    }

    .accordion {
      width: 98%;
      .showcase {
        .content {
          padding-top: 10px;
          padding-bottom: 10px;
        }

        .showcase-item {
          margin-bottom: 30px;
          .item-content {
            h3 {
              font-size: 4vw;
            }
            .meta {
              .owner {
                margin-bottom: 5px;
                a {
                  display: block;
                }
              }
            }
            .text {
              font-size: 13px;
            }
          }
        }
        .right-item {
          .item-content {
            .meta {
              .owner {
                display: block;
                margin-right: -4px;
                a {
                  margin-right: 3px;
                  float: none;
                }
              }
            }
          }
          .image {
            margin-left: 20px;
          }
        }
        .left-item {
          .image {
            margin-right: 20px;
          }
        }
      }
    }
  }
}
