<div class="card">
  <%= link_to (image_tag event.thumbnail.url(:normal)), show_event_path(event.slug) %>
  <div class="content">
    <h3><%= link_to event.title, show_event_path(event.slug) %></h3>
    <%= HTML_Truncator.truncate(event.description, 30).html_safe %>
  </div>
</div>

