<footer>
  <ul>
    <li>
      <a href="https://twitter.com/ducss"><%= image_tag "twitter_circle.png", class: "twitter-icon" %></a>
    </li>
    <li>
      <a href="https://facebook.com/ducss.ie"><%= image_tag "facebook_circle.png", class: "fb-icon" %></a>
    </li>
  </ul>
</footer>
