<footer>
  <div class="row">
    <div class="small-8 medium-4 small-centered columns text-center">
      <div class="row">
        <div class="small-6 columns ">
          <a href="https://twitter.com/ducss"><%= image_tag "twitter_circle.png", class: "social-icon" %></a>
        </div>
        <div class="small-6 columns">
          <a href="https://facebook.com/ducss.ie"><%= image_tag "facebook_circle.png", class: "social-icon" %></a>
        </div>
      </div>
    </div>
  </div>
</footer>
